<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="LionCoders" />
    <!-- Links -->
    <link rel="icon" type="image/png" href="#" />
    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="css/plugin.css" rel="stylesheet" />
    <!-- Perfect scrollbar CSS-->
    <link href="css/perfect-scrollbar.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- Dashboard CSS -->
    <link href="css/dashboard.css" rel="stylesheet" />
     <!--color switcher css-->
    <link rel="stylesheet" href="css/switcher/skin-aqua.css" media="screen" id="style-colors" />
    <!-- Document Title -->
    <title>listagram - Directory Listing HTML Template</title>

</head>

<body>
    <div class="page-wrapper">

        <!--Sidebar Menu Starts-->
        <aside class="menu-sidebar js-right-sidebar d-block d-lg-none">
            <div class="logo">
                <a href="#">
                    <img src="images/logo-black.png" alt="Listagram" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar2">
                <div class="account-img">
                    <img src="images/clients/reviewer-4.png" alt="Steve Austin" />
                </div>
                <h4 class="name">Howdy, Steve!</h4>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a class="active" href="db.html">
                                <i class="ion-ios-gear-outline"></i>Dashboard
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="ion-social-buffer-outline"></i>My Listings
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="db-my-listing.html">Active</a>
                                    <span class="inbox-num active">6</span>
                                </li>
                                <li>
                                    <a href="db-my-listing.html">Pending</a>
                                    <span class="inbox-num pending">8</span>
                                </li>
                                <li>
                                    <a href="db-my-listing.html">Expired</a>
                                    <span class="inbox-num expired">12</span>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="db-bookings.html">
                                <i class="ion-ios-copy-outline"></i>Bookings</a>
                        </li>
                        <li>
                            <a href="db-messages.html">
                                <i class="ion-ios-email-outline"></i>Inbox</a>
                            <span class="inbox-num pending">3</span>
                        </li>

                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="ion-ios-star-outline"></i>Reviews
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="db-recieve-reviews.html">
                                        Recieved Reviews</a>
                                    <span class="inbox-num active">6</span>
                                </li>
                                <li>
                                    <a href="db-submit-reviews.html">
                                        Submitted reviews</a>
                                    <span class="inbox-num pending">8</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="db-my-profile.html">
                                <i class="ion-ios-person-outline"></i>My profile</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ion-ios-upload-outline"></i>Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!--Sidebar Menu ends-->

        <!--Dashboard content Wrapper starts-->
        <div class="dash-content-wrap">

            <!-- Top header starts-->
            <header class="db-top-header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-9 col-sm-6 col-4">
                            <div class="site-navbar-wrap v2">
                                <div class="site-navbar">
                                    <div class="row align-items-center">
                                        <nav class="site-navigation float-left">
                                    <div class="container">
                                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                                            <li class="has-children">
                                                <a href="#">Home</a>
                                                <ul class="dropdown">
                                                    <li><a href="home-v1.html">Home Tab</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a href="#">Listings</a>
                                                <ul class="dropdown">
                                                    <li class="has-children">
                                                        <a href="#">List Layout</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="list-left-sidebar.html">Left Sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Grid Layout</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="grid-fullwidth.html">Full Width</a></li>
                                                            <li><a href="grid-two-column.html">Grid two column</a></li>
                                                            <li><a href="grid-left-sidebar.html">Left Sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Category Listings</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="all-categories.html">All Category</a></li>
                                                            <li><a href="all-locations.html">All Locations</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Listing Details</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="single-listing-one.html">Single Listing one</a></li>
                                                            <li><a href="single-listing-two.html">Single Listing two</a></li>
                                                            <li><a href="single-listing-three.html">Single Listing three</a></li>
                                                            <li><a href="single-listing-four.html">Single Listing four</a></li>
                                                            <li><a href="single-listing-five.html">Single Listing five</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a href="#">Pages</a>
                                                <ul class="dropdown">
                                                    <li><a href="about.html">About us</a></li>
                                                    <li><a href="contact.html">Contact us</a></li>
                                                    <li class="has-children">
                                                        <a href="#">News Layout</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="news-without-sidebar.html">News without sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="has-children">
                                                        <a href="#">Single News Layout</a>
                                                        <ul class="dropdown sub-menu">
                                                            <li><a href="single-news-one.html">Single News one</a></li>
                                                            <li><a href="single-news-two.html">Single News two</a></li>
                                                            <li><a href="single-news-three.html">Single News three</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="404-page.html">404 error</a></li>
                                                    <li><a href="add-listing.html">Add Listing</a></li>
                                                    <li><a href="booking.html">Booking Page</a></li>
                                                    <li><a href="login.html">Login</a></li>
                                                    <li><a href="user-profile.html">User profile</a></li>
                                                </ul>
                                            </li>
                                            <li class="has-children">
                                                <a href="#">User Panel</a>
                                                <ul class="dropdown">
                                                    <li><a href="db.html">Dashboard</a></li>
                                                    <li><a href="db-my-listing.html">My Listings</a></li>
                                                    <li><a href="db-bookings.html">Bookings</a></li>
                                                    <li><a href="db-messages.html">Inbox</a></li>
                                                    <li><a href="db-recieve-reviews.html">Reviews</a></li>
                                                    <li><a href="db-my-profile.html">User Profile</a></li>
                                                </ul>
                                            </li>
                                            <li class="d-lg-none"><a class="btn v1" href="add-listing.html">Add Listing <i class="ion-plus-round"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                                        <div class="d-lg-none sm-right">
                                            <a href="#" class="mobile-bar js-menu-toggle">
                                                <span class="ion-android-menu"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="site-mobile-menu">
                                    <div class="site-mobile-menu-header">
                                        <div class="site-mobile-menu-close  js-menu-toggle">
                                            <span class="ion-ios-close-empty"></span>
                                        </div>
                                    </div>
                                    <div class="site-mobile-menu-body"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-8">
                            <div class="header-button">
                                <div class="header-button-item has-noti js-item-menu">
                                    <i class="ion-ios-bell-outline"></i>
                                    <div class="notifi-dropdown js-dropdown">
                                        <div class="notifi__title">
                                            <p>You have 2 Notifications</p>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 red">
                                                <i class="icofont-check"></i>
                                            </div>
                                            <div class="content">
                                                <p>Your listing <b>Hotel Ocean Paradise</b> has been approved!</p>
                                                <span class="date">5min ago</span>
                                            </div>
                                        </div>
                                        <div class="notifi__item">
                                            <div class="bg-c1 green">
                                                <i class="icofont-ui-message"></i>
                                            </div>
                                            <div class="content">
                                                <p>You have 3 unread Messages</p>
                                                <span class="date">5min ago</span>
                                            </div>
                                        </div>
                                        <div class="notify-bottom text-center pad-tb-20">
                                            <a href="#">View All Notification</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-button-item js-sidebar-btn">
                                    <img src="images/clients/reviewer-4.png" alt="...">
                                    <span>Steve <i class="ion-arrow-down-b"></i></span>
                                </div>
                                <div class="setting-menu js-right-sidebar d-none d-lg-block">
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="db.html">
                                                <i class="ion-ios-gear-outline"></i>Dashboard</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="db-my-listing.html">
                                                <i class="ion-social-buffer-outline"></i>Listings</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="db-bookings.html">
                                                <i class="ion-ios-copy-outline"></i>Bookings</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="db-recieve-reviews.html">
                                                <i class="ion-ios-star-outline"></i>Reviews</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="db-messages.html">
                                                <i class="ion-ios-email-outline"></i>Inbox</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="db-my-profile.html">
                                                <i class="ion-ios-person-outline"></i>Profile</a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="ion-ios-upload-outline"></i>Logout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Top header ends-->

            <!--Dashboard breadcrumb starts-->
            <div class="dash-breadcrumb">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dash-breadcrumb-content">
                                <div class="dash-breadcrumb-left">
                                    <div class="breadcrumb-menu text-right sm-left">
                                        <ul>
                                            <li class="active"><a href="#">Home</a></li>
                                            <li class="active"><a href="#">Dashboard</a></li>
                                            <li>Bookings</li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="btn v3" href="add-listing.html"><i class="ion-plus-round"></i>Add Listing </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Dashboard breadcrumb ends-->
            <!--Dashboard content starts-->
            <div class="dash-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dash-bookings">
                                <div class="act-title">
                                    <h5><i class="ion-ios-copy-outline"></i> Bookings</h5>
                                </div>
                                <div class="db-booking-wrap">
                                    <div class="db-booking-item">
                                        <div class="booking-img">
                                            <img src="images/single-listing/restaurant-6.jpg" alt="...">
                                        </div>
                                        <h4>La Quo Vadis<span class="book-pending">Pending</span></h4>

                                        <div class="booking-info">
                                            <h6>Booking date: </h6>
                                            <ul class="booking_list">
                                                <li><span>13 June 2019</span></li>
                                            </ul>
                                        </div>
                                        <div class="booking-info">
                                            <h6>Booking Details: </h6>
                                            <ul class="booking_list">
                                                <li><span>3 Adults</span></li>
                                            </ul>
                                        </div>
                                        <div class="booking-info">
                                            <h6>Client: </h6>
                                            <ul class="booking_list transparent">
                                                <li><span>Frank Jane</span></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn v5 mt-4"><i class="ion-android-mail"></i> Send Message</a>
                                        <ul class="buttons">
                                            <li><a href="#0" class="btn v2"><i class="ion-ios-checkmark-outline"></i> Approve</a></li>
                                            <li><a href="#0" class="btn v5"><i class="ion-ios-close-outline"></i> Reject</a></li>
                                        </ul>
                                    </div>
                                    <div class="db-booking-item">
                                        <div class="booking-img">
                                            <img src="images/single-listing/park-hyatt.jpg" alt="...">
                                        </div>
                                        <h4>Park hayatt<span class="book-approved">Approved</span></h4>
                                        <div class="booking-info">
                                            <h6>Start date: </h6>
                                            <ul class="booking_list">
                                                <li><span>11 June 2019</span></li>
                                            </ul>
                                        </div>
                                        <div class="booking-info">
                                            <h6>End date: </h6>
                                            <ul class="booking_list">
                                                <li><span>13 June 2019</span></li>
                                            </ul>
                                        </div>
                                        <div class="booking-info">
                                            <h6>Booking Details: </h6>
                                            <ul class="booking_list">
                                                <li><span>3 Adults</span></li>
                                            </ul>
                                        </div>
                                        <div class="booking-info">
                                            <h6>Client: </h6>
                                            <ul class="booking_list">
                                                <li><span>Frank Jane</span></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn v5 mt-4"><i class="ion-android-mail"></i> Send Message</a>
                                        <ul class="buttons">

                                            <li><a href="#0" class="btn v5"><i class="ion-ios-close-outline"></i> Reject</a></li>
                                        </ul>
                                    </div>
                                    <div class="db-booking-item">
                                        <div class="booking-img">
                                            <img src="images/single-listing/event-1.jpg" alt="...">
                                        </div>
                                        <h4>

                                            Bolton Music Fair<span class="book-cancel">Cancelled</span></h4>
                                        <div class="booking-info">
                                            <h6>Booking date: </h6>
                                            <ul class="booking_list">
                                                <li><span>13 June 2019</span></li>
                                            </ul>
                                        </div>
                                        <div class="booking-info">
                                            <h6>Booking Details: </h6>
                                            <ul class="booking_list">
                                                <li><span>3 Adults</span></li>
                                            </ul>
                                        </div>
                                        <div class="booking-info">
                                            <h6>Client: </h6>
                                            <ul class="booking_list transparent">
                                                <li><span>Frank Jane</span></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="btn v5 mt-4"><i class="ion-android-mail"></i> Send Message</a>
                                        <ul class="buttons">
                                            <li><a href="#0" class="btn v2"><i class="ion-ios-checkmark-outline"></i> Approve</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Dashboard content ends-->

            <!--Dashboard footer starts-->
            <div class="dash-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>© 2019 Listagram . All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Dashboard footer ends-->
        </div>
        <!--Dashboard content Wrapper ends-->

    </div>
    <!-- Plugin JS-->
    <script src="js/plugin.js"></script>
    <!--Perfect Scrollbar JS-->
    <script src="js/perfect-scrollbar.min.js"></script>
    <!-- Main JS-->
    <script src="js/main.js"></script>
    <!-- Dashboard JS-->
    <script src="js/dashboard.js"></script>
</body>

</html>
