<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">

<head>
    <!-- Metas -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="LionCoders"/>
    <!-- Links -->
    <link rel="icon" type="image/png" href="#"/>
    <!-- google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="css/plugin.css" rel="stylesheet"/>
    <!-- style CSS -->
    <link href="css/style.css" rel="stylesheet"/>
    <!--color switcher css-->
    <link rel="stylesheet" href="css/switcher/skin-aqua.css" media="screen" id="style-colors"/>
    <!-- Document Title -->
    <title>listagram - Directory Listing HTML Template</title>
</head>

<body>
<!--Page Wrapper starts-->
<div class="page-wrapper">
    <!--header starts-->
    <header class="transparent scroll-hide">
        <!--Main Menu starts-->
        <div class="site-navbar-wrap v2">
            <div class="container">
                <div class="site-navbar">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-6">
                            <a class="navbar-brand" href="/"><img src="/images/team/Gyumri.jpg" alt="logo" class="img-fluid"></a>
                        </div>
                        <div class="col-md-8 col-6">
                            <nav class="site-navigation float-left">
                                <div class="container">
                                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                                        <li class="has-children">
                                            <a href="#">Home</a>
                                            <ul class="dropdown">
                                                <li><a href="home-v1____.html">Home Tab</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Listings</a>
                                            <ul class="dropdown">
                                                <li class="has-children">
                                                    <a href="#">Grid Layout</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="grid-two-column.html">Grid two column</a></li>
                                                        <li><a href="grid-left-sidebar.html">Left Sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">OpenStreet Map</a>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">Category Listings</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="all-categories.html">All Category</a></li>
                                                        <li><a href="all-locations.html">All Locations</a></li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">Listing Details</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="single-listing-one.html">Single Listing one</a>
                                                        </li>
                                                        <li><a href="single-listing-two.html">Single Listing two</a>
                                                        </li>
                                                        <li><a href="single-listing-three.html">Single Listing three</a>
                                                        </li>
                                                        <li><a href="single-listing-four.html">Single Listing four</a>
                                                        </li>
                                                        <li><a href="single-listing-five.html">Single Listing five</a>
                                                        </li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">Pages</a>
                                            <ul class="dropdown">
                                                <li><a href="about.html">About us</a></li>
                                                <li><a href="contact.html">Contact us</a></li>
                                                <li class="has-children">
                                                    <a href="#">News Layout</a>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">Single News Layout</a>
                                                    <ul class="dropdown sub-menu">
                                                        <li><a href="single-news-one.html">Single News one</a></li>
                                                        <li><a href="single-news-two.html">Single News two</a></li>
                                                        <li><a href="single-news-three.html">Single News three</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="404-page.html">404 error</a></li>
                                                <li><a href="add-listing.html">Add Listing</a></li>
                                                <li><a href="booking.html">Booking Page</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="user-profile.html">User profile</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#">User Panel</a>
                                            <ul class="dropdown">
                                                <li><a href="db.html">Dashboard</a></li>
                                                <li><a href="db-my-listing.html">My Listings</a></li>
                                                <li><a href="db-bookings.html">Bookings</a></li>
                                                <li><a href="db-messages.html">Inbox</a></li>
                                                <li><a href="db-recieve-reviews.html">Reviews</a></li>
                                                <li><a href="db-my-profile.html">User Profile</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                            </nav>
                            <div class="d-lg-none sm-right">
                                <a href="#" class="mobile-bar js-menu-toggle">
                                    <span class="ion-android-menu"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--mobile-menu starts -->
                <div class="site-mobile-menu">
                    <div class="site-mobile-menu-header">
                        <div class="site-mobile-menu-close  js-menu-toggle">
                            <span class="ion-ios-close-empty"></span>
                        </div>
                    </div>
                    <div class="site-mobile-menu-body"></div>
                </div>
                <!--mobile-menu ends-->
            </div>
        </div>
        <!--Main Menu ends-->
    </header>
    <!--Header ends-->
    <!--User Login section starts-->
    <div class="user-login-section section-padding bg-fixed" style="background-image: url(/images/header/loginPicture.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1  text-center">
                    <div class="login-wrapper">
                        <ul class="ui-list nav nav-tabs justify-content-center mar-bot-30" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="login.html#login" role="tab"
                                   aria-selected="true">Մուտք</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#register" role="tab" aria-selected="false">Գրանցում</a>
                            </li>
                        </ul>
                        <div class="ui-dash tab-content">
                            <div class="tab-pane fade show active" id="login" role="tabpanel">
                                <form id="login-form" action="/login" method="post">
                                    <div class="form-group">
                                        <input type="text" name="username" id="username" tabindex="1"
                                               class="form-control" placeholder="էլ․հասցե" value="" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="2"
                                               class="form-control" placeholder="Գաղտնաբառ">
                                    </div>
                                    <div class="row mar-top-20">
                                        <div class="col-md-6 col-12 text-left">
                                            <div class="res-box">

                                                <label for="remember"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 text-right">
                                            <div class="res-box sm-left">
                                                <a href="#" tabindex="5" ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="res-box text-center mar-top-30">
                                        <button type="submit" class="btn v3"><i ></i>Մուտք</button>
                                    </div>
                                </form>
                                <div class="social-profile-login text-center mar-top-30">
                                    <ul class="social-btn">
                                        <li ><a href="#"><i ></i></a></li>
                                        <li ><a href="#"><i ></i></a></li>
                                        <li ><a href="#"><i></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="register" role="tabpanel">
                                <form id="register-form" th:action="@{/addUser}" method="post"
                                      enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" tabindex="1" class="form-control"
                                               placeholder="Անուն" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="surname" id="surname" tabindex="2" class="form-control"
                                               placeholder="Ազգանուն" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="3" class="form-control"
                                               placeholder="Էլ․հասցե" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" tabindex="4"
                                               class="form-control" placeholder="Գաղտնաբառ" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phoneNumber" id="phoneNumber" tabindex="5"
                                               class="form-control" placeholder="Հեռ․համար" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="nationality" id="nationality" tabindex="6"
                                               class="form-control" placeholder="Ազգություն" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="gender" id="gender" tabindex="8" class="form-control"
                                               placeholder="Սեռ" value="">
                                    </div>
                                    <div class="contact-form__upload-btn xs-left">
                                        <input class="contact-form__input-file" type="file" name="picture" id="photo-upload" multiple>
                                        <span style="color: lightseagreen">Ավելացնել նկար</span>
                                    </div>

                                    <div class="res-box text-left">
                                        <input tabindex="3" class="" name="remember" id="remember" hidden>

                                    </div>
                                    <div class="res-box text-center mar-top-30">
                                        <button type="submit" class="btn v3"><i
                                                ></i>Գրանցում
                                        </button>
                                    </div>
                                </form>
                                <div class="social-profile-login text-center mar-top-30">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--User login section ends-->
    <!--Login section ends-->
    <!-- Scroll to top starts-->
    <span class="scrolltotop"><i class="ion-arrow-up-c"></i></span>
    <!-- Scroll to top ends-->
</div>
<!--Page Wrapper ends-->
<!--Footer Starts-->

<!--Color switcher ends-->
<!--Scripts starts-->
<!--plugin js-->
<script src="js/plugin.js"></script>
<!--google maps-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8C7p0Ws2gUu7wo0b6pK9Qu7LuzX2iWY&amp;libraries=places&amp;callback=initAutocomplete"></script>
<!--Main js-->
<script src="js/main.js"></script>
<!--Scripts ends-->
</body>

</html>
